require "placer"
require "appfinder"
require "config"
require "helpers"

hydra.alert "Hydra, at your service."

autolaunch.set(true)

menu.show(function()
    return {
      {title = "About Hydra", fn = hydra.showabout},
      {title = "-"},
      {title = "Quit", fn = os.exit},
    }
end)

local mash    = {"cmd", "alt", "ctrl"}
local ctrlcmd = {"ctrl", "cmd"}

defaultapplications = ext.config.applications

hotkey.bind(ctrlcmd, '1', ext.helpers.positionwindows)
hotkey.bind(mash, '1', ext.helpers.launchdefaultapplications)

hotkey.bind(mash, 'X', logger.show)
hotkey.bind(mash, "R", repl.open)

hotkey.bind(ctrlcmd, "L", ext.placer.right_half)
hotkey.bind(ctrlcmd, "H", ext.placer.left_half)
hotkey.bind(ctrlcmd, "K", ext.placer.top_half)
hotkey.bind(ctrlcmd, "J", ext.placer.bottom_half)
hotkey.bind(ctrlcmd, "O", ext.placer.full_screen)
hotkey.bind(ctrlcmd, "G", ext.placer.centered)
hotkey.bind(ctrlcmd, "Y", ext.placer.centered_small)
hotkey.bind(ctrlcmd, "P", ext.placer.centered_tall)
hotkey.bind(ctrlcmd, "U", ext.placer.top_left_quarter)
hotkey.bind(ctrlcmd, "N", ext.placer.bottom_left_quarter)
hotkey.bind(ctrlcmd, "I", ext.placer.top_right_quarter)
hotkey.bind(ctrlcmd, "M", ext.placer.bottom_right_quarter)

updates.check()
